.vscode/

node_modules/
.idea/

.env

*.lock
*-lock.json


dist/

coverage/

# Playwright test results
test-results/
playwright-report/
playwright/.cache/

docs/_build

typings/
